
/* Body formatting borrowed from Draem */

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

body {
    margin: 0px;
    padding: 0px;

    background-color: #2B3856; /* "Dark slate blue" */
    color: #FFF;
}

#body {
    /*
     * I dunno what "the answer" is but if you fill the whole width
     * it looks ugly.
     *
     * https://jdm-digital.com/2012/11/why-max-width-960/
     */
    max-width: 960px;

    quotes: "\201C" "\201E" "\2018" "\2019";

    /* http://cssfontstack.com/ */
    font-family: "Proxima Nova Regular","Helvetica Neue",Calibri,"Droid Sans",Helvetica,Arial,sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

#main {
    padding: 10px 32px 10px 32px;
    margin: 0px 20px 10px 20px;

    color: #333;
    background-color: #FFF;
}

#header {
    background-color: #2B3856; /* "Dark slate blue" */
    text-align: center;
}

#footer {
    color: #888;
    font-style: italic;
}

#loader_container {
    text-align: center;
}


/*
 * Text areas do not inherit size automatically, you have to specify inherit.
 *
 * http://stackoverflow.com/questions/2874813/
 */

textarea {
   font-family: inherit;
   font-size: inherit;
}

.success, .warning, .error, .validation, .info {
    border: 1px solid;
    margin: 0px 0px;
    padding:15px 15px 15px 15px;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
}
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
}
.warning {
    color: #9F6000;
    background-color: #FEEFB3;
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
}

#conversion_content {
    font-family: monospace;
    font-weight: bold;
    word-break: break-all;
}

#binary_content {
    font-family: monospace;
    border: 1px solid lightgray;
}
